@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: 'SBAggro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}
@media (max-width: 767px){
    body{
        width: 90%;
        padding: 20px;
    }
}
body {
    font-family: SCoreDream,"Malgun Gothic", "맑은 고딕", Dotum, "돋움체", Arial, sans-serif;
    color: #333;
}
#layer {
    border-radius: 25px;
    font-family: 'SBAggro';
    display: block;
    position: fixed;
    width: 500px;
    height: 500px;
    background: rgb(188, 231, 248);
    box-shadow: 3px 3px 10px rgb(0 0 0 / 40%);
    z-index: 999999999;
    font-size: 1.9em;
    padding: 3em;
    box-sizing: border-box;
    line-height: 2;
    top: 50px;
    left: 150px;
  }
  #layer button {
    position: absolute;
    cursor: pointer;
    padding: 10px 20px;
    right: 0;
    top: 0;
    background-color: #222;
    color: #fff;
  }
  button{
    outline: 0;
    border: 0;
    background: none;
  }
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

.cf:after {
    content: "";
    display: block;
    clear: both;
}

.db {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.df {
    display: flex;
}

.pt {
    padding-top: 80px;
}

.pr-1 {
    padding-right: 40px;
}

.icon {
    width: 214px;
    height: 139px;
    text-align: center;
}

.bb {
    border-bottom: 1px solid #ccc;
}
.btn1,
.btn2,
.btn3,
.btn4,
.btn5{
    cursor: pointer;
}
input[type="checkbox"] {
    position: absolute;
    top: 4px;
    left: -21px;
}

.icon-1 {
    width: 92px;
    height: 92px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 20px auto;
}

.bg {
    background-color: #097a84;
}
.browserWarning{
    z-index: 101;
    overflow: hidden;
    position: relative;
    line-height: 100px;
    text-align: center;
    background: #f6f6f6 url(../img/covid19_bg.png);
    background-repeat: no-repeat;
    height: 100px;
}
.warning_text{
    position: absolute;
    content: '';
    top: 16%;
    left: 40%;
    width: 382px;
    height: 68px;
    background: url(../img/covid19_txt.png);
}
.warringclose{
    cursor: pointer;
    width: 100px;
    height: 20px;
    position: absolute;
    top: 73px;
    left: 1558px;
    content: '';
}
.warringclose span{
    font-family: 'S-CoreDream';
    position: relative;
    font-weight: bold;
    font-size: 12px;
    left: -19px;
    top: -40px;
}
.warringclose span::before{
    background-image: url(../img/b_cornerx.png);
    position: absolute;
    top: 1px;
    left: 80px;
    content: '';
    width: 14px;
    height: 15px;
}
.box_1{
  overflow: hidden;
    border-radius: 36px;
    margin-right: 80px;
    width: 100%;
    height: 630px;
    box-shadow: 12px 20px 46px 0 rgb(151 167 199 / 75%);
       background-color: #fff;
  z-index: 1;
   max-width:600px; 

   position: relative;
}
.box_4{
    position: relative;
}
.box_4::before{
    display: block;
    content: '';
    position: absolute;
    left: -708px;
    bottom: -75px;
    width: 639px;
    height: 213px;
    background: url(../img/visual_tab1.png) no-repeat;
    background-size: contain;
    z-index: 1;
}
.visual{
    cursor: pointer;
    position: relative; 
          transition: 0.5s;
          display: flex;
}
.visual img{
    border-radius: 36px;
}
.visual_left{
    content: '';
    position: absolute;
    width: 32px;
    height: 49px;
    left: 5px;
    top: 284px;
    background-image: url(../img/main_thumb_prev.png);
    background-position: -95px -166px;
    z-index: 1;
    cursor: pointer;
}
.visual_right{
    transform:rotate(180deg);
    content: '';
    position: absolute;
    width: 32px;
    height: 49px;
    left: 547px;
    top: 284px;
    background-image: url(../img/main_thumb_prev.png);
    background-position: -95px -166px;
    z-index: 1;
    cursor: pointer;
}

.new_menu{
    display: flex;
    font-family: 'S-CoreDream';
    content: '';
    position: absolute;
    left: 34px;
    bottom: 18px;
    width: 425px;
    height: 32px;
    z-index: 2;
}
.new_text{
    font-size: 18px;
    color: #014099;
    font-weight: 600;
}
#result{
    position: relative;
    margin-left: 27px;
    font-size: 19px;
    line-height: 20px;
    color: #a81031;
}
#result::before{
    position: absolute;
    content: "0";
    left: -0.7rem;
    top: 0.2rem;
}
.new_text1{
    margin-left: 167px;
    font-size: 19px;
    line-height: 20px;
    color: #242a3a;
}
.gap{
    position: absolute;
    content: '';
    left: 114px;
    top: 11px;
    width: 143px;
    height: 2px;
    background: linear-gradient(to right,#ff587b, #ff587b 50%,#242a3a 50% ,#242a3a);
    vertical-align: middle;
}
.box_btn2{
    
    margin-left: 30px;
    font-family: 'S-CoreDream';
    font-size: 17px;
    line-height: 28px;
    color: #5a5f6e;
    font-weight: bold;

    

}
.mayor{
    position: absolute;
    width: 510px;
    height: 288px;
    top: 0;
    
}
.mayor .mayor_btn{
    margin-top:10px;
    font-weight: bold;
    font-family: 'S-CoreDream';
    width: 114px;
    padding: 9px 0;
    border: 1px solid #109cda;
    border-radius: 20px;
    background-color: #fff;
    font-size: 15px;
    line-height: 23px;
    color: #109cda;
    text-align: center;
    text-decoration: none;
    transition: all ease 0.2s;
}
.mayor .mayor_btn:hover{
    background-color: #109cda;
    color: #fff;
    cursor: pointer;
}
.row1 {
    width: 820px;
    height: 331px;

    
}
.mt {
    margin-top: 10px;
}
.maintext{
    font-family: 'S-CoreDream';
    margin-top: 22px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #737373;
}
.title{
    margin-top: 40px;
}
.mayor:before{
    display: block;
content: '';
position: absolute;
right: 0px;
bottom: -42px;
width: 280px;
height: 270px;
    background-image: url('../img/hi.png');
}

/*menu*/
.menu {
    font-family: 'S-CoreDream';
    font-size: 14px;
    position: relative;
    padding: 15px 0px;
    height: 50px;
}
.menu_em{
    color: #109cda;
}

.menu li a{
    letter-spacing: 0;
    padding-right: 20px;
    font-family: 'S-CoreDream';
    font-size: 14px;
   display: block;
   font-weight: bold;
   color: #5a5f6e;
}
.menu li a:hover{
    color: black;
}
.menu ul {
    display: flex;
}
.menu_right{
    font-family: 'S-CoreDream';
    font-weight: bold;
    padding: 15px;
    float: right;
    height: 50px;
    width: 650px;
    top: -34px;
    left: 30px;
}
.menu_right a{
    color: #5a5f6e;
    
}
.menu_right a:hover{
    color: black;
}
.menu_right span{
    font-family: 'S-CoreDream';
    font-weight: bold;  
}
.weather{
    top: -16px;
    left: 5px;
    width: 40%;
    position: relative;
    padding: 15px 0px;
}
.weather a{
   
    font-size: 14px;
    font-weight: bold;
}
.menu_icon{
    margin-right: 25px;
}
.menu_icon::before{
    position: absolute;
    content: '';
    width: 31px;
    height: 40px;
    top: 14px;
    left: -12px;
    background-image: url(../img/common_sprite\ \(1\).png);
    background-position: -174px 45px;
}
.menu_icon2{
    margin-right: 11px;
}
.menu_text{
    margin-right: 18px;
}
/* layout */
.width1500 {
    margin: auto;
    max-width: 1500px;
    width: 100%;
}
.login{
    text-align: center;
    position: relative;
    top: -65px;
    left: 244px;
    width: 100px;
    height: 51px;
    padding: 15px 0px;
}
.login a:hover{
    border-bottom: 1px solid black;
}
.login::before{
    content: '';
    position: absolute;
    left: 89px;
    top: 15px;
    width: 1px;
    height: 20px;
    background-color: #c0c9cf;
}
.login_1::before{
    width: 31px;
    height: 33px;
    content: '';
    position: absolute;
    top: 0px;
    left: -3px;
    background-image: url(../img/common_sprite.png);
    background-position: 4px 16px;
}
.lang{
    text-align: center;
    position: relative;
    top: -115px;
    left: 348px;
    width: 123px;
    height: 51px;
    padding: 15px 0px;
    cursor:pointer;
}
.lang_1::before{
    width: 31px;
    height: 33px;
    content: '';
    position: absolute;
    top: -1px;
    left: -3px;
    background-image: url(../img/common_sprite.png);
    background-position: -91px 14px;
    cursor: pointer;
}
.lang_1::after{
    width: 31px;
    height: 24px;
    content: '';
    position: absolute;
    top: 7px;
    left: 98px;
    background-image: url(../img/common_sprite.png);
    background-position: -76px -26px;
    cursor: pointer;
}
.lang span{
    cursor: pointer;
}
.lang::before{
    content: '';
    position: absolute;
    left: 137px;
    top: 15px;
    width: 1px;
    height: 20px;
    background-color: #c0c9cf;
    cursor: pointer;
}
.family{
    text-align: center;
    position: relative;
    top: -166px;
    left: 478px;
    width: 125px;
    height: 51px;
    padding: 15px 0px;
}
.family_1::after{
    width: 31px;
    height: 24px;
    content: '';
    position: absolute;
    top: 7px;
    left: 100px;
    background-image: url(../img/common_sprite.png);
    background-position: -76px -26px;
}
.width1400 {
    margin: auto;
    max-width: 1500px;
    width: 100%;
}

.width100 {
    width: 100%;
}
.nav_logo{
    position: absolute;
    top: 23px;
}
.nav ul{
    display: flex;
    margin-left: 355px;
    max-width: 1500px;
    width: 100%;
    position: relative;
    top: -23px;
}
.nav ul li{
    padding-top: 31px;
    margin: 0 20px;
    display: block;
}
.nav .line{
    width: 0%;
	height: 2px;
	background: #1634db;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: width 0.8s;
}
.nav ul li a{
    letter-spacing: 0;
    padding-right: 20px;
    font-family: 'S-CoreDream';
    font-size: 19px;
    display: block;
    font-weight: bold;
}
.inputbox{
    position: relative;
    text-align: right;
    top: -49px;
    left: 1217px;
    width: 180px;
}
.inputbox_layer{
    position: absolute;
    top: -46px;
    left: 14px;
    width: 84%;
    height: 200px;
}
.inputbox_layer .inputbox_layer_text:not(.nav ul){
    position: absolute;
    top: 5px;
    left: 5px;
}
.inputbox .input_1{
    left: 0px;
    position: absolute;
    width: 180px;
    height: 43px;
    border: none;
    padding: 0 10px;
    font-size: 17px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.05em;
    color: #339ac7;
    top: -12px;
}
.inputbox::before{
    display: block;
    position: absolute;
    bottom: -36px;
    left: 0;
    background-color: #109cda;
    width: 230px;
    height: 3px;
    content: '';
}
.submitbox{
    position: absolute;
    width: 37px;
    height: 37px;
}
.submitbox::before{
    position: absolute;
    content: '';
    width: 43px;
    height: 43px;
    left: 15px;
    top: -9px;
    background-image: url(../img/common_sprite\ \(1\).png);
    background-position: 0px -65px;
}
.sitemap{
    position: absolute;
    top: -10px;
    left: 248px;
    width: 47px;
    height: 48px;
}
.sitemap a{
    position: absolute;
    content: '';
    width: 46px;
    height: 46px;
    left: 5px;
    top: 2px;
    background-image: url(../img/common_sprite\ \(1\).png);
    background-position: 5px -105px;
}
.menu .menu_right .Toggle_text{
    position: absolute;
    font-size: 14px;
    top: 17px;
    left: 43px;
    z-index: 4;
}
.menu .menu_right .Toggle_text:after{
    width: 31px;
    height: 9px;
    content: '';
    position: absolute;
    top: 5px;
    left: 79px;
    background-image: url(../img/common_sprite.png);
    background-position: -109px -41px;
}
.menu .menu_right .Toggle_text:before{
    width: 31px;
    height: 24px;
    content: '';
    position: absolute;
    top: -2px;
    left: -31px;
    background-image: url(../img/common_sprite.png);
    background-position: -91px 1px;
    cursor: pointer;
}
.Toggle_1{
    display:none;
    position: absolute;
    top: -2px;
    left: -15px;
    width: 126%;
    height: 180px;
    z-index: 3;
    background-color: #FFF;
    box-sizing: border-box;
    box-shadow: 8px 13px 28px 0px rgb(0 51 102 / 10%);
    border-radius: 10px;
}
.Toggle_1:before{
    display: block;
    position: absolute;
    top: 52px;
    left: calc(50% - 62px);
    width: 124px;
    height: 1px;
    background-color: #eceff0;
    content: '';
}
.menu_right .Toggle{
    display: block;
    position: relative;
    top: 65px;
    left: 2px;
    width: 100%;
    padding: 0px 46px 0px;
    box-sizing: border-box;
    font-size: 14px;
}
.menu_right .Toggle li{
    padding: 3px 0;
}
.full_menu{
    border-top: 1px solid rgb(235, 231, 231);
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    margin: auto;
    z-index: 99999999;
    background-color: #ffffff;
    background-repeat: no-repeat ;
    box-shadow: 8px 13px 15px 0 rgb(0 51 102 / 10%);
    padding-bottom: 40px;
}
.full_menu .full_menuitem{
    font-family: 'S-CoreDream';
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
}
.full_menu .full_menutime_1{
    padding-top: 22px
}
.full_menu .full_menutime_1 li{
    position: relative;
    font-family: 'S-CoreDream';
    font-size: 15px;
    font-weight: bold;
    padding-left: 0;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 18px;
    padding-top: 0px;
}
.full_menu .full_menutime_1 li::before{
    display: block;
    position: absolute;
    top: 7px;
    left: -18px;
    background-color: #cdd3d8;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content: '';
}
.full_menuitem li{
    float: none;
    display: inline-block;
    position: relative;
    width: 18%;
    padding-top: 24px;
    padding-left: 30px;
    margin-bottom: 25px;
    margin-right: 1%;
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold;
}
.full_menu ul li::before{
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 1px;
    height: calc(100% - 35px);
    background-color: #eceff0;
    content: '';
}
.full_menu ul li ul li a{
    font-family: 'S-CoreDream';
    font-weight: 500;
    display: inline-block;
    font-size: 15px;
    color: #7a7a81;
    letter-spacing: 0;
}
.full_menu ul li ul li a:hover{
    color: black;
}
.menu_box1{
    margin: 33px auto;
    width: 100%;
    max-width: 1500px;
}
.menu_box{
    left: 0px;
    position: relative;
    float: left;
    margin-bottom: 33px;
    width: 14.00%;
    height: 132px;
    padding: 0;
    text-align: center;
}
.full_menu .menu_box1 span{
    line-height: 224px;
    font-family: 'S-CoreDream';
    font-size: 18px;
    font-weight: bold;
}
.menu_box::before{
    display: block;
    position: absolute;
    top: 0px;
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-width: 1px;
    border-style: solid;
    border-color: #eceff0;
    border-radius: 12px;
    background-color: #fff;
    background-image: none;
    content: '';
    transition-property: border-color, background-color, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

}
.menu_bo::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-1::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-2::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -44px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-3::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -97px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-4::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -149px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-5::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -196px 0px;
    width: 46px;
    height: 49px;
    content: '';
}
.menu_icon-6::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -251px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-7::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -300px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-8::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -351px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-9::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -403px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-10::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -453px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-11::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -503px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-12::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -551px 0px;
    width: 49px;
    height: 49px;
    content: '';
}
.menu_icon-13::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -600px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
.menu_icon-14::after{
    display: block;
    position: absolute;
    top: 14px;
    left: 82px;
    background: url(../img/common_menu_icons\ \(1\).png) no-repeat;
    background-position: -654px 0px;
    width: 42px;
    height: 49px;
    content: '';
}
/* 투뎁스 100%배경 */
#nav>li>.width100 {
    left: 0;
    /* display:none; */
}

#nav>li:hover .width100 {
    display: block;
}

/*logo*/
.logo {
    padding: 15px 30px 0px 30px;
}

/* custom */
#lnb {
    height: 94px;
    background: #fff;
}

#lnb li {
    margin: 0 30px;
}

#lnb li a {
    display: block;
    line-height: 94px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#lnb li a:hover {
    color: #e95a65;
}

#lnb li#freesamLogo {
    width: 181px;
    margin: 0 0 0 25px;
}

#lnb .width1400 .m_tit {
    padding: 0px 20px 0 0;
}

#lnb .width1400 .m_tit img {
    display: block;
    margin: 20px auto;
    width: 135px;
}

#lnb .width100 {
    background: #fbfbfb;
    top: 94px;
    left: 0;
    z-index: 2;
    box-shadow: 0 2px 2px rgb(0, 0, 0 /7%);
    height: 0px;
    overflow: hidden;
    transition: 250ms;
    padding: 0 0;
}

#lnb li:hover .width100 {
    height: auto;
    padding: 20px 0;
}

/*바로가기*/
a {
    outline: none;
}

.square{
    background-image: url(../img/mayor_bg2.png);
    position: absolute;
    top: 29px;
    right: 0;
    width: 280px;
    height: 300px;
}
.square_link{
    width: 165px;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
}
.square_link a {
    font-family: 'S-CoreDream';
    display: inline-block;
    position: relative;
    width: calc((100% - 19px)/2);
    margin-right: 9px;
    padding: 6px 0 1px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 15px;
    line-height: 29px;
    color: #424755;
    font-weight: bold;
}
.square_link a::before{
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 3px);
    width: 7px;
    height: 11px;
    background: url(../img/main_sprite.png) no-repeat -5px -31px;
}
.square_link :after {
    position: absolute;
    top:0px;
    left: 0px;
    background-image: url(../img/main_sprite.png);
    background-position: 0px 0px;
}
.square_link a:nth-child(1),
.square_link a:nth-child(2) {
    border-top: 1px solid #d9d9d9;
}
.square_link a:last-child{
    width: 100%;
} 
.square_link a:last-child::before{
    right: 65px;
}


.boxrow2{
    width: 820px;
    height: 381px;
    
}
.tab_menu{
    position: relative;
    font-family: 'S-CoreDream';
    width: 820px;
    height: 73px;
    padding-top: 45px;
    font-size: 19px;
    display: flex;
}
.tab_side{
    display: flex;
    position: absolute;
    top: 39px;
    left: 684px;
    width: 127px;
    height: 44px;
    
}
.tab_side1{
    margin: 6px 23px 0px 19px;
    width: 20px;
    height: 31px;
    
}
.tab_side2{
    margin-top: 5px;
    width: 20px;
    height: 31px;
}
.next{
    cursor: pointer;
    content: '';
    position: absolute;
    top: 506px;
    left: 831px;
    width: 53px;
    height: 49px;
    background-image: url(../img/right.png);
}
.prev{
    cursor: pointer;
    content: '';
    position: absolute;
    top: 506px;
    left: -77px;
    width: 57px;
    height: 47px;
    background-image: url(../img/left.png);
    background-repeat: no-repeat;
    background-position: 29px -2px;
}
.tab_side1::after{
    display: block;
    content: '';
    position: absolute;
    top: 13px;
    right: 75px;
    width: 1px;
    height: 16px;
    background-color: #c7cad1;
}
.tab_side .more_2{
    position: relative;
    width: 10px;
    height: 20px;
    margin: 10px 10px 10px 20px;
}
.tab_side .more_2::before{
    position: absolute;
    width: 24px;
    height: 29px;
    top: -6px;
    left: -5px;
    content: '';
    background-image: url(../img/main_sprite.png);
    background-position: -49px -19px;
}
.tab_menu ul li span{
    font-weight: 600;
    color: #202431;
}

.tab_menu ul{
    display: flex;
}
.tab_menu ul li{
    position: relative;
    margin-right: 37px;
}
.square:before{
    display: block;
    content: '';
    position: absolute;
    bottom: 0px;
    right: -60px;
    width: 117px;
    height: 107px;
    background-image: url(../img/mayor_bg.png)
}
.square h3{margin:90px 0px 18px 0;
font-size: 24px;
color: #014099;
font-family: 'SBAggro';
text-align: center;
font-weight: bold;}
.square ul li{display: inline-block;
text-align: left;}

.skip_menu {
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    transform: translate(-100%);
}

.skip_menu:focus {
    transform: translateY(0%);
}
.tab_menu2{
    width: 820px;
    height: 308px;
    
}
.active{
    font-weight: bold;
    color: #202431;
    
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    padding: 23px 0px 50px;
    transition: 0.5s;
}
.slides{
    position: relative;
    content: '';
    width: 59rem;
    height: 18rem;
    overflow: hidden;
    
   
}
.slides li{
    margin-right: 20px;
}
.tabbox1:hover{
    border: 1px solid  rgb(111, 178, 240);
}
.tabbox1{
   
    width: 260px;
    height: 233px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 8px 13px 28px 0 rgb(215 222 227 / 75%);
    
}
.slides .tabbox1 a{
    line-height: 28px;
    font-family: 'S-CoreDream';
    display: block;
    width: 100%;
    height: 100%;
    padding: 27px 30px 23px;
    text-decoration: none;
    word-break: break-all;
}
.slides .tabbox1 .team{
    position: relative;
    font-family: 'NotoKr';
    font-size: 15px;
    line-height: 20px;
    color: #014099;
}
.team::before{
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background-color: #f65876;
    border-radius: 50%;
}
.slides .tabbox1 p{
    width: 200px;
    overflow: hidden;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
    color: #424755;
}
.slides .tabbox1 .text{
    overflow: hidden;
    height: 44px;
    margin-top: 7px;
    font-size: 14px;
    line-height: 0px;
    color: #858b99;
}
.slides .tabbox1 .time{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #d6d7da;
    text-align: right;
    color: #858b99;
    font-size: 15px;
}

/* depth2 */


#lnb li ul li {
    width: 285px;
    margin: 0;
    padding: 0 10px;
    border-left: 0.5px solid rgb(221, 220, 220);
}
.box2{
    width: 820px;
    height: 709px;
}
#lnb li ul li {
    width: 285px;
    margin: 0;
    padding: 0 10px;
    border-right: 0.5px solid #ccc;
}

#lnb li ul li ul li {
    display: flex;
}

#lnb li ul li a {
    text-align: left;
}

#lnb li ul li h2 {
    font-size: 1.5em;
    text-align: center;
    color: #e95a65;
    padding-top: 2px;
}

#lnb li ul li dl dt a {
    font-size: 1em;
    font-weight: bold;
    line-height: 180%;
}

#lnb li ul li dl dd a {
    color: #777;
    font-size: .8em;
    font-weight: bold;
    line-height: 170%;
    padding-left: 10px;
}

#lnb li ul li h3 a {
    color: #097a84;
    font-weight: bold;
    line-height: 200%;
    margin-bottom: 3px;
}

.main_banner {
    background: url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?w=1380&t=st=1670576991~exp=1670577591~hmac=34d3097b9b0ff53386c876922f31ab98446a55a66e6c422e31ebfd8cacb225ec) no-repeat;
    background-size: cover;
    height: 100vh;
}
.boxrow2::before{
    top:330px;
    display: block;
    content: '';
    position: absolute;
    right: -220px;
    width: 1609px;
    height: 380px;
    background-image: url(../img/board_bg.jpg);
    z-index: -1;

}
.main::before{
        display: block;
        content: '';
        position: absolute;
        top: -150px;
        left: -223px;
        width: 613px;
        height: 495px;
        background-image: url(../img/visual_bg.png);
        z-index: -1;
}
.media:before {
    display: block;
    content: '';
    position: absolute;
    top: 205px;
    left: -210px;
    width: 1242px;
    height: 586px;
    background-image: url(../img/media_bg.png);
    z-index: -1;}
    
.main_banner ul {
    width: 600px;
    height: 200px;

    position: relative;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_banner li {
    width: 33%;
    height: 100%;
    background: rgb(255, 255, 255, 1);
    text-align: center;
    font-size: 2em;

}
.job{
    
    margin-top: 40px;
    width: 100%;
   
   
}
.job h2{
    margin-bottom: 25px;
    font-family: 'SBAggro';
    font-size: 28px;
    line-height: 34px;
    font-weight: 400;
    color: #202431;
    text-align: center;
}
.more{
    position: absolute;
    top: 0;
    right: 26px;
    line-height: 24px;
}
.more .more_text{
    font-family: 'S-CoreDream';
    font-size: 16px;
    color: black;
}
.more .more_text:hover{
    border-bottom: 1px solid black;
}
.job_1{
    display: flex;
}
.jobbox{
    position: relative;
}
.jobbox a:hover{
    border: 1px solid  rgb(111, 178, 240);
}
.jobbox a:hover .icon{
    background-color: #109cda;
    color: #fff;
}
.jobbox a{
    font-family: 'S-CoreDream';
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 357px;
    height: 174px;
    padding: 38px 30px 30px 120px;
    margin-right: 24px;
}
.jobbox1 a{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 357px;
    height: 174px;
    padding: 38px 30px 30px 120px;
    margin-right: 0px;
}
.jobbox .icon{
    display: block;
    position: absolute;
    top:26px;
    left:30px;
    background-color: #e9eff8;
    width: 62px;;
    height: 62px;
    border-radius: 50%;
}
.jobbox .icon  span{
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;

}
.icons{
    position: relative;
    border-bottom: 1px solid #d9dfe2;
}
.prev1{
    position: relative;
    top: 70px;
    left: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
   
}
.prev1:hover::before{
    background-position: -190px -169px;

}
.next1{
    float: right;
    position: relative;
    top: 70px;
    left: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.next1::before{
    position: absolute;
    content: '';
    top: -3px;
    left: -10px;
    width: 48px;
    height: 52px;
    background-image: url(../img/main_sprite.png);
    background-position: -138px -166px;  
    transform: rotate(180deg);
}
.next1:hover:before{
    background-position: -190px -166px;
}
.prev1::before{
    position: absolute;
    content: '';
    top: -4px;
    left: -13px;
    width: 48px;
    height: 52px;
    background-image: url(../img/main_sprite.png);
    background-position: -139px -168px;
}
.iconlist{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding: 0px 60px;
}
.swiper ul li{
    text-align: center;
    width: 153px;
    height: 85px;
}
.swiper{
    position: relative;
    margin-bottom: -70px !important;
    overflow: hidden;
}
.icon_1 a::before{
    height: 50px;
    display: block;
    content : '';
    margin: -27px 50px auto;
    background-image: url(../img/main_sprite.png);
    background-position: -85px -238px;
    width: 50px;   
}
.icon_1 a:hover:before{
    transform: translateY(-5px);
    transition: all ease-out 0.25s;
}

.icon_2 a::before{
    height: 50px;
    display: block;
    content : '';
    margin: -27px 50px auto;
    background-image: url(../img/main_sprite.png);
    background-position: -140px -238px;
    width: 50px;   
}
.icon_2 a:hover:before{
    transform: translateY(-5px);
    transition: all ease-out 0.25s;
}
.icon_3 a::before{
    height: 50px;
    display: block;
    content : '';
    margin: -27px 50px auto;
    background-image: url(../img/main_sprite.png);
    background-position: -199px -238px;
    width: 50px;   
}
.icon_3 a:hover:before{
    transform: translateY(-5px);
    transition: all ease-out 0.25s;
}
.icon_4 a::before{
    height: 50px;
    display: block;
    content : '';
    margin: -27px 50px auto;
    background-image: url(../img/main_sprite.png);
    background-position: -257px -238px;
    width: 50px;   
}
.icon_4 a:hover:before{
    transform: translateY(-5px);
    transition: all ease-out 0.25s;
}
.icon_5 a::before{
    height: 50px;
    display: block;
    content : '';
    margin: -27px 50px auto;
    background-image: url(../img/main_sprite.png);
    background-position: -318px -238px;
    width: 50px;   
}
.icon_5 a:hover:before{
    transform: translateY(-5px);
    transition: all ease-out 0.25s;
}
.icon_6 a::before{
    height: 50px;
    display: block;
    content : '';
    margin: -27px 50px auto;
    background-image: url(../img/main_sprite.png);
    background-position: -82px -296px;
    width: 50px;   
}
.icon_6 a:hover:before{
    transform: translateY(-5px);
    transition: all ease-out 0.25s;
}
.icon_7 a::before{
    height: 50px;
    display: block;
    content : '';
    margin: -27px 50px auto;
    background-image: url(../img/main_sprite.png);
    background-position: -145px -296px;
    width: 50px;   
}
.icon_7 a:hover:before{
    transform: translateY(-5px);
    transition: all ease-out 0.25s;
}
.icon_8 a::before{
    height: 50px;
    display: block;
    content : '';
    margin: -27px 50px auto;
    background-image: url(../img/main_sprite.png);
    background-position: -195px -296px;
    width: 50px;   
}
.icon_8 a:hover:before{
    transform: translateY(-5px);
    transition: all ease-out 0.25s;
}
.icon_9 a::before{
    height: 50px;
    display: block;
    content : '';
    margin: -27px 50px auto;
    background-image: url(../img/main_sprite.png);
    background-position: -258px -296px;
    width: 51px;   
}
.icon_9 a:hover:before{
    transform: translateY(-5px);
    transition: all ease-out 0.25s;
}
.title{
    margin-top: 40px;
    font-family: 'SBAggro';
    font-size: 38px;
    line-height: 46px;
    font-weight: 500;
    color: #202431;
}

  .swiper-slide {
    width: 153px !important;
    height: 85px !important;
    text-align: center !important;
  }
.swiper-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box;
    top: 104px;
    left: -591px;
}
.swiper {
    width: 100%;
    height: 300px;
    margin: 20px auto;
  }
.media{
    
    width: 100%;
    height: 890px;
    padding-top: 70px;
}
.row_media{
    width: 100%;
    height: 268px;
    ;
}
.new{
    font-family: 'S-CoreDream';
    margin-right: 85px ;
    width: 914px;
    height: 211px;
    
}
.new_title h2{
    display: inline-block;
    margin:0 26px 23px 0;
    font-family: 'SBAggro';
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    color: #202431;
    letter-spacing: -0.02em;
    text-align: left;
}
.more_3{
    float: right;
    position: relative;
    top: 0px;
    left: -37px;
    
}
.more_3 .more_text{
    font-family: 'S-CoreDream';
    font-size: 16px;
    color: black;
}
.more_3 span:hover{
    border-bottom: 1px solid black;
}
.more_3::before{
    position: absolute;
    content: '';
    width: 28px;
    height: 18px;
    left: 58px;
    top: 0px;
    background-image: url(../img/main_sprite.png);
    background-position: -51px -27px;
}
.new_title span{
    font-family: 'S-CoreDream';
    font-size: 16px;
    color: #858b99;
}
.more_1{
    position: relative;
    top: -1px;
    right: -452px;
    line-height: 24px;
}
.more_1 .more_text{
    font-family: 'S-CoreDream';
    font-size: 16px;
    color: black;
}
.more_1 .more_text:hover{
    border-bottom: 1px solid black;
}
.more_1::before{
    position: absolute;
    content: '';
    left: 56px;
    top: -7px;
    width: 26px;
    height: 27px;
    background-image: url(../img/main_sprite.png);
    background-position: -49px -19px

}
.job .more::after{
    position: absolute;
    content: '';
    margin-left: 16px;
    top: 3px;
    left: 37px;
    width: 38px;
    height: 22px;
    background: url(../img/main_sprite.png);
    background-position: -48px -28px;
}

.new_list{
    display: flex;
    width: 100%;
    height: 211px;
    
}
.new_item{
    margin-right: 25px;
    width: 287px;
    height: 211px;
    border-radius: 10px;
}
.new p{
    margin-top:13px;
    position: relative;
    
}
.new_box{
    overflow: hidden;
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
.new_box img{ 
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
.new_box img:hover{
    transform: scale(1.05);
    transition: all ease 0.5s;
   
}
.sns{
    float:right;
    width: 510px;
    height: 268px;
   
}
.sns  h2{
    
    margin-bottom: 23px;
    font-size: 26px;
    text-align: left;
}
.sns_box_list{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    width: 509px;
    height: 209px;
    cursor: pointer;
}
.sns_box:hover img{
    transform: scale(1.05);
    transition: all ease 0.5s;

}
.sns_list li{
    position: relative;
    width: 30px;
    height: 30px;
    
}
.blog::before{
    position: absolute;
    background-image: url(../img/main_sprite.png);
    background-position: -35px -50px;
    width: 31px;
    height: 33px;
    left: 5px;
    top: -2px;
    content: '';
    
}
.faceboox::before{
    position: absolute;
    background-image: url(../img/main_sprite.png);
    background-position: 2px -83px;
    width: 31px;
    height: 33px;
    left: 6px;
    top: -2px;
    content: ''
}
.faceboox:hover:before{
    background-position: -35px -83px;
}
.youtube::before{
    position: absolute;
    background-image: url(../img/main_sprite.png);
    background-position: 3px -117px;
    width: 37px;
    height: 33px;
    left: 5px;
    top: -3px;
    content: '';
}
.youtube:hover::before{
    background-position: -35px -117px;
}
.instar::before{
    position: absolute;
    background-image: url(../img/main_sprite.png);
    background-position: 3px -148px;
    width: 37px;
    height: 33px;
    left: 5px;
    top: -3px;
    content: '';
}
.instar:hover:before{
    background-position: -35px -148px;
}
.kokoo::before{
    position: absolute;
    background-image: url(../img/main_sprite.png);
    background-position: 3px -183px;
    width: 37px;
    height: 33px;
    left: 5px;
    top: -3px;
    content: '';
}
.kokoo:hover::before{
    background-position: -35px -183px;
}
.naver::before{
    position: absolute;
    background-image: url(../img/main_sprite.png);
    background-position: 3px -218px;
    width: 37px;
    height: 33px;
    left: 5px;
    top: -3px;
    content: '';
}
.naver:hover::before{
    background-position: -35px -218px;
}
.google::before{
    position: absolute;
    background-image: url(../img/main_sprite.png);
    background-position: 3px -254px;
    width: 37px;
    height: 33px;
    left: 5px;
    top: -3px;
    content: '';
}
.google:hover:before{
    background-position: -35px -254px;
}
.sns .sns_box img{
    margin-right: 25px;
    display: block;
    width: 209px;
    height: 209px;
    border-radius: 10px;
   
    background-size: cover;
}
.sns_list{
    position: absolute;
    top: 129px;
    right: 16px;
   ;
}
.row3{
    font-family: 'S-CoreDream';
    width: 1500px;
    height: 442px;
    margin-top:110px;
   
}
.poto{
    width: 913px;
    height: 322px;
   
    margin-top: 47px;
}
.poto_title h2{
   
        display: inline-block;
        margin:0 26px 23px 0;
        font-family: 'SBAggro';
        font-size: 26px;
        line-height: 34px;
        font-weight: 400;
        color: #202431;
        letter-spacing: -0.02em;
        text-align: left;
    }
    .poto_list{
        border-radius: 10px;
        overflow: hidden;
        font-family: 'S-CoreDream';
        display: flex;
        width: 100%;
        height: 205px;
        cursor: pointer;
    }
    .poto_box{
      overflow: hidden;
    position: relative;
    margin-right: 23px;
    border-radius: 10px;
    width: calc((100% - 26px)/2);
    height: 100%;
    
    }
    .poto_box:hover{
        transform: scale(1.05);
        transition: all ease 0.5s;
    }
    .poto_box img{
       width: 100%;
    height: 100%;
        
        
    }
    .poto_box::before{
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent ,transparent 60%, rgba(0,0,0,0.6) );
    }
    .poto_box span{
        color: #FFF;
        position: absolute;
        width: 300px;
        top: 168px;
        left: 34px;
        content: ''; 
            
    }
    .itv{
        padding: 45px 45px 30px;
        position: relative;
        margin-top: 10px;
        width: 500px;
        height: 442px;
        border: 1px solid #ccc;
        border-radius: 20px;
        overflow: hidden;
    }
    .itv::before{
        display: block;
        content: '';
        position: absolute;
        top: -48px;
        right: -50px;
        width: 223px;
        height: 223px;
        border-radius: 50%;
        background-color: #e9eff5;
        z-index: -2;
    }
    .itv_box{
    position: relative;
    width: 100%;
    height: 264px;
    border-radius: 10px;
    z-index: 1;
        background-image: url(../img/suwan.jpg);
    }
    .itv_box:hover{
        transform: scale(1.05);
        transition: all ease 0.5s;
    }
    .itv_box::before{
        display: block;
    content: '';
    position: absolute;
    right: -16px;
    top: -9px;
    width: 76px;
    height: 76px;
    background: url(../img/main_sprite.png) no-repeat -85px -24px;
    border-radius: 50%;
    box-shadow: 5px 8px 7px 0px rgb(0 0 0 / 20%);
    z-index: 5;
    }

.poto::after {
        display: block;
        content: '';
        width: calc(100% + 87px);
        height: 1px;
        margin-top: 60px;
        background-color: #d9dfe2;
}
.info{
    text-align: center;
    width: 1500px;
    height: 264px;
    padding-bottom: 77px;
    border-bottom: 1px solid #ccc;
}
.info h2{
    margin: 35px 0 42px;
    font-family: 'SBAggro';
    font-size: 28px;
    line-height: 34px;
    font-weight: 400;
    color: #202431;
    text-align: center;
}
.info_list{
    width: 100%;
    height: 110px;
}
.info_item{
    padding: 12px 15px 13px;
    width: 914px;
    height: 110px;
    border-radius: 5px;
    background-color: #fcf7f8;
}
.info_button{
    width: 112px;
    height: 100%;
    
}
.info_button span{
    line-height: 8;
}
.info_button::before{
    position: absolute;
    content: '';
    top: 37px;
    left: 35px;
    width: 59px;
    height: 101px;
    background-image: url(../img/main_sprite.png);
    background-position: -758px 50px;
}
.linkbox ul {
    
    padding:20px 20px;
    text-align: left;
    float: left;
    width: 700px;
}
.linkbox ul li{
    font-family: 'S-CoreDream';
    display: inline-block;
}
.festival{
    width:1500px;
    
    height: 610px;

}
.festival::before{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 365px;
    width: 1500px;
    height: 430px;
    background-color: #f1f6ff;
    border-radius: 280px 0 0 0;
    z-index: -1;
}
.info_button1{
    margin-top: 13px;
    line-height: 8;
    width: 112px;
    height: 85px;
    
}
.n1::before{
    position: absolute;
    content: '';
    top: 0px;
    left: 30px;
    width: 57px;
    height: 42px;
    background-image: url(../img/main_sprite.png);
    background-position: -813px -52px;
}
.n1::after{
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 1px;
    height: 84px;
    background-color: #d9dfe2;
}
.n2::before{
    position: absolute;
    content: '';
    top: 0px;
    left: 30px;
    width: 57px;
    height: 42px;
    background-image: url(../img/main_sprite.png);
    background-position: -860px -52px;
}
.n2::after{
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 1px;
    height: 84px;
    background-color: #d9dfe2;
}
.n3::before{
    position: absolute;
    content: '';
    top: 0px;
    left: 30px;
    width: 57px;
    height: 42px;
    background-image: url(../img/main_sprite.png);
    background-position: -910px -52px;

}
.n3::after{
    display: block;
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 1px;
    height: 84px;
    background-color: #d9dfe2;
}
.n4::before{
    position: absolute;
    content: '';
    top: -14px;
    left: 31px;
    width: 55px;
    height: 59px;
    background-image: url(../img/main_sprite.png);
    background-position: -962px -43px;
}
.n5::before{
    position: absolute;
    content: '';
    top: 0px;
    left: 30px;
    width: 57px;
    height: 42px;
    background-image: url(../img/main_sprite.png);
    background-position: -1007px -52px;
}
.festival_box{
    line-height: 24px;
    width: 415px;
    height: 395px;
    margin-top:130px;
}
.festival .festival_box h2{
    text-align: left;
    font-size: 28px;
}
.sun_title{
    margin-top: 22px;
    color: #858b99;
}
.em{
    font-family: 'SBAggro';
    font-size: 38px;
    color: #109cda;
}
.em1{
    font-family: 'SBAggro';
    font-size: 28px;
    color: #109cda;
}
.sun_more{
    font-family: 'S-CoreDream';
    display: block;
    position: relative;
    border: 1px solid #181818;
    border-radius: 10px;
    width: 205px;
    margin-top: 30px;
    padding: 14px 20px;

}
.sun_more::after{
    display: block;
    content: '';
    position: absolute;
    top: 12px;
    right: 5px;
    width: 37px;
    height: 38px;
    background-image: url(../img/main_sprite.png);
    background-position: -105px 2px;

}
.toolbox{
    width: 415px;
    height: 52px;
    position: relative;
    margin: 50px 0 100px;
}
.borbox{
    float: left;
    position: relative;
    width: 280px;
    padding: 24px 0 27px;
    box-sizing: border-box;
}
.totalbar{
    margin-right: 20px;
    display: block;
    position: relative;
    height: 2px;
    background-color: #d3d5d8;
}
.totalbar_1{
    margin-right: 20px;
    display: block;
    position: absolute;
    top: 0px;
    width: 49px;
    left: 0px;
    height: 2px;
    background-color: #242a3a;
    transition: width 500ms;
}
.left{
    position: relative;
    background-color: #fff;
    border: none;
    width: 53px;
    height: 51px;
    border-radius: 50%;
    z-index:-1;
}
.left::before{
    position: absolute;
    width: 55px;
    height: 58px;
    content: '';
    top: -4px;
    left: 14px;
    background-image: url(../img/main_sprite.png);
    background-position: -145px -107px;
}
.left:hover::before{
    background-position: -202px -107px;
    transform: rotate(-180deg);
}
.right{
    
    position: relative;
    background-color: #fff;
    width: 53px;
    height: 51px;
    border-radius: 50%;
    z-index: -1;
    left: 16px;
    
}
.right:before{
    transform: rotate(180deg);
    display: block;
    position: absolute;
    width: 55px;
    height: 58px;
    content: '';
    top: -4px;
    left: 0px;
    background-image: url(../img/main_sprite.png);
    background-position: -145px -108px;
}
.button_side .right:hover::before{
    background-position: -202px -107px;
}
.sick_list{
    display: flex;
    position: relative;
    width: 1054px;
    height: 610px;
    
    padding: 70px 0px 140px;
}
.slick-track{
    width: 10000px !important;
    left: 1049px !important;
}
button.slick-prev.slick-arrow{
    font-size: 0;
    position: absolute;
    width: 55px;
    height: 58px;
    content: '';
    top: 367px;
    left: -150px;
    background-image: url(../img/main_sprite.png);
    background-position: -145px -107px;
   
}
button.slick-prev.slick-arrow:hover{
    font-size: 0;
    position: absolute;
    width: 55px;
    height: 58px;
    content: '';
    top: 367px;
    left: -150px;
    background-image: url(../img/main_sprite.png);
    background-position: -202px -107px;
    transform: rotate(180deg);
}
button.slick-next.slick-arrow{
    font-size:0;
    display: block;
    position: absolute;
    width: 55px;
    height: 58px;
    content: '';
    top: 367px;
    left: -87px;
    background-image: url(../img/main_sprite.png);
    background-position: -145px -108px;
    transform: rotate(180deg);
}
button.slick-next.slick-arrow:hover{
    display: block;
    position: absolute;
    width: 55px;
    height: 58px;
    content: '';
    top: 367px;
    left: -87px;
    background-image: url(../img/main_sprite.png);
    background-position: -204px -108px;
    transform: rotate(360deg);
    
}
.imgbox_list{
    
    width: 336px !important;
    height: 420px;
    margin: 0 30px;
}
.imgbox1{
    
    display: flex;
    width: 336px;
    height: 420px;
}
.title_box{
    
    font-family: 'S-CoreDream';
    position: absolute;
    bottom: 46px;
    left: 40px;
    width: calc(100% - 80px);
}
.imgbox{
    overflow: hidden;
    position: relative; 
    box-shadow: 20px 33px 30px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    width: 320px;
    height: 404px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    transform: scale(1);
    transition: all ease 0.5s;
}
.imgbox:hover{
    transform: scale(1.05);
    transition: all ease 0.5s;
}
.imgbox::before{
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
     background: linear-gradient(transparent ,transparent 60%, rgba(0,0,0,0.9) );
}

.catgory{
    font-size: 24px;
    color: #fff;
}
.imgbox img{
    overflow: hidden;
    border-radius: 10px;
    width: 320px;
    height: 404px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    transform: scale(1);
    transition: all ease 0.5s;
}
.banner{
    
    padding: 32px 0;
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
   
    height: 101px;
}
.banner a img{
    text-align: center;
    margin-right:40px;
}
.controlbox{
    
    float: right;
    position: relative;
    top: -30px;
    left: 14px;
    right: 58px;
    width: 154px;
    line-height: 0;
    font-size: 0;
    height: 30px;

}
.count{
    display: inline-block;
    width: 44px;
    height: 30px;
    margin-top: 12px;}
.context{
    font-size: 14px;
    color: #dd541e;
    font-weight: 600;
}
.context2{
    font-size: 14px;
   
    font-weight: 600;
}
.footer_arrow{
    position: relative;
    width: 24px;
    height: 30px;
    top: -18px;
    left: 43px;
    
}
.footer_arrow::before{
    position: absolute;
    top: 3px;
    left: 5px;
    height: 26px;
    width: 24px;
    background-image: url(../img/main_sprite.png);
    background-position: 0px -3px;
    content: '';
    cursor: pointer;
}
.footer_stop{
    position: relative;
    width: 29px;
    height: 30px;
    top: -48px;
    left: 64px;
    
}
.footer_stop::before{
    position: absolute;
    top: 2px;
    left: 4px;
    height: 26px;
    width: 24px;
    background-image: url(../img/main_icons.png);
    background-position: 94px -238px;
    content: '';
    cursor: pointer;
}
.footer_arrow2{
    position: relative;
    width: 29px;
    height: 30px;
    top: -78px;
    left: 93px;
    
}
.footer_arrow2::before{
    position: absolute;
    top: 2px;
    left: 4px;
    height: 26px;
    width: 24px;
    background-image: url(../img/main_sprite.png);
    background-position: -54px -2px;
    content: '';
    cursor: pointer;
}
.more_4{
    position: relative;
    width: 29px;
    height: 30px;
    top: -107px;
    left: 118px;
    
}
.more_4::before{
    position: absolute;
    top: 4px;
    left: 8px;
    height: 26px;
    width: 24px;
    background-image: url(../img/main_icons.png);
    background-position: 61px -59px;
    content: '';
    
}

.button_side{
    position: absolute;
    top:0;
    left:284px;
    cursor: pointer;
}
.button_side::after{
    position: absolute;
    width: 116px;
    height: 57px;
    top:0;
    left:284px;
    background-image: url(../img/main_sprite.png);
    background-position: 10px 20px;

}
.footer_top {
    display: flex;
    background-color: #171b26;
    height: 65px;
    width: 100%;
}
.footer_top1{
    display: flex;
}
.link_btn{
    display: block;
    position: relative;
    width: 100%;
    padding: 17px 60px 18px 20px;
    text-align: left;
    color: #fff;
    border-right: 1px solid #2d303a;
    border-left: 1px solid #2d303a;
}
.link_btn::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 24px;
    top: 13px;
    left: 189px;
    background-image: url(../img/common_sprite.png);
    background-position: -166px 169px;
    cursor: pointer;
}
.footer_center {
    font-family: 'S-CoreDream';
    display: flex;
    background-color: #f7f8fb;
    height: 200px;
    width: 100%;
    padding: 40px 0;
}
.footer_center1{
    display: flex;
    height: 120px;
}
.tel_area{
    display: flex;
    width: 50%;
    height: 110px;
    margin-top:10px;
}
.tel_area1{
    padding: 73px 24px 0 0;
    background-image: url(../img/footer_icon1.png);
    background-repeat: no-repeat;
}
.tel_area1 span{
   
    font-size: 16px;
}
.footer_table{
    font-size: 14px;
    width: 630px;
    height: 109px;
}
.table,th,td{
    border-radius: 5px;
    width: 15%;
    
    
    
}
td,th{
    font-family: 'S-CoreDream';
    text-align: center;
    padding: 4px 10px;
}
thead{
    padding: 3px 10px;
    background: #014099;
    border: 1px solid #f7f8fb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
}
tbody,tfoot{
    background-color: #fff;
}
.tel_area2{
    margin-left: 70px;
    width: 676px;
    height: 117px;


}
.tel_area3{
    position: relative;
    margin-bottom: 13px;
    padding-left: 56px;
    height: 60px;
    width: 676px;
    background-image: url(../img/footer_icon2.png);
    background-repeat: no-repeat;
}
.tel_area3 table th tr a{
    display: block;
}
.tel_area3 span,em{
    font-weight: bold;
    font-family: 'S-CoreDream';
    padding-left: 10px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000;
    font-weight: 500;
}
.tel_area3 span em{
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #014099;
}
.koko,.koko1{
    display: inline-block;
    position: relative;
    margin: 2px 15px 2px 0;
    padding: 9px 50px 9px 55px;
    border: 1px solid #cbcdd0;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #000;
    text-decoration: none;
    background-color: #fcfcfd;
    word-break: keep-all;
    cursor: pointer;
}
.koko::before{
    content: '';
    position: absolute;
    width: 34px;
    height: 32px;
    top: 5px;
    left: 18px;
    background-image: url(../img/common_sprite.png);
    background-position: -48px -72px;
}
.koko1::before{
    content: '';
    position: absolute;
    width: 34px;
    height: 32px;
    top: 5px;
    left: 11px;
    background-image: url(../img/common_sprite.png);
    background-position: -78px -72px;
}
.sns_list ul{
    display: black;
}
.sns_box_list .sns_list ul li > a{
    display: block;
    height: 100%;
    background-color: #097a84;
    width: 10px;
    height: 10px;
}
.footer_bottom{
    font-family: 'S-CoreDream';
    width: 100%;
    height: 139px;
    font-size: 15px;
    position: relative;
    padding: 40px 0;
    
}
.footer_bottom ul{
    display: flex;

}
.footer_bottom li{ 
    position: relative;
    padding: 0 20px;
}
.footer_bottom li::before{
    display: block;
    position: absolute;
    top: calc(50% - 7px);
    right: 0;
    background-color: #dedede;
    width: 1px;
    height: 15px;
    content: '';
}
.footer_bottom > ul > li:first-child{
    padding-left: 0;
}
.em_3{
    font-size: 16px;
    font-weight: bold;
    color: #4268e3;
}
.tel_area3 span .em_2{
    font-weight: bold;
}
.w3org{
    float: right;
}
#weather1{
    font-weight: bold;
    text-align: end;
    font-size: 1rem;
    color: lightskyblue;
}
#weather1 span{
    padding-right: 10px;
}
.weatherlink{
    color: lightskyblue;
    float: right;
    padding-top: 5px;
}